body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    text-align: center;
    border-bottom: 0.125rem solid #161616;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    border-right: 0.125rem solid #161616;
}

#left, #right {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.125rem solid #161616;
}

#left h1, #right h1 {
    text-align: center;
}

#left form, #right form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#left input, #right input, #right select {
    margin-block: 0.2rem 1rem;
}

form input, form select {
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    width: 100%;
    border: 0.1rem solid #161616;
    padding: 0.25rem;
    font-size: 1rem;
}

form button {
    background-color: #e2e2e2;
    border: 0.1rem solid #161616;
    border-radius: 0.25rem;
    padding: 0.375rem;
    font-size: 1.125rem;
}

form button:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

footer {
    border: 0.125rem solid #161616;
    border-top: 0;
    border-collapse: collapse;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raportButton {
    background-color: #e2e2e2;
    border: 0.125rem solid #161616;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    width: 12.5%;
}

#raportButton:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

#raport_bg{
    background-color: rgba(38, 38, 38, 0.433);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}

#raport_block{
    position: fixed;
    width: 800px;
    height: 500px;
    background-color: lightgreen;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}